[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage-badge = "*"
black = "*"
hypothesis = "*"
moet = {editable = true,path = "."}

[packages]
networkx = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
